

		<!-- Google fonts -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <ul class="Legend">
      <li class="Legend-item">
        <span class="Legend-colorBox" style="background-color: #019dae;">
        </span>
        <span class="Legend-label text-center" style="text-align: center;">
            Policy and Standards
        </span>
      </li>
      <li class="Legend-item text-center">
        <span class="Legend-colorBox" style="background-color: #c63a46;">
        </span>
        <span class="Legend-label">
            Compliance Management
        </span>
      </li>
    </ul>
    <div class="radarChart"></div>

