v1.1/SAMM-HOWTO-1.1-MARKDOWN-en_US.md
v2.0/beta/core/.DS_Store
v2.0/node_modules/
v2.0/npm-debug.log
v2.0/package-lock.json
Website/node_modules/
Website/package-lock.json
Website/npm-debug.log
Website/public/
.DS_Store
.vscode/
.project

# Local Netlify folder
.netlify