{{ define "content" }}

<div class="homeback">
  <div class="ui container">
    <h1 class="ui title header">
      Your organization's dynamic software security strategy
    </h1>
    <div class="ui hidden divider"></div>
    <div class="ui grid">
      <div class="eight wide column">
        <a class="version square" href="/v1-5/downloads/">
          v1.5
          <div class="ui hidden divider"></div>
          <div class="ui green label">Stable</div>
        </a>
      </div>
      <div class="eight wide column">
        <a class="version square" href="/v2.0b/introduction/">
          v2.0
          <div class="ui hidden divider"></div>
          <div class="ui orange label">Beta</div>
        </a>
      </div>
    </div>
  </div>
  <div class="ui hidden divider"></div>
</div>

<div class="headerbanner">
  <div class="ui container"><p>We also maintain a <a href="/head/introduction/">working copy</a> which is updated in real time based on our <a href="https://github.com/owasp/samm">GitHub respository</a>.</p></div>
</div>

<div class="ui hidden divider"></div>

<div class="ui page intro text container">
  <p>The prime maturity model for software assurance that provides an effective and measurable way for all types of organizations to analyse and improve their software security posture.</p>
</div>

<div class="ui hidden divider"></div>

<div class="ui why container">
  <h1 class="ui header">Why OWASP SAMM?</h1>
  <div class="ui hidden divider"></div>
  <div class="ui three column stackable grid">
    <div class="column">
      <i class="huge stopwatch icon"></i>
      <h2 class="header">Measurable</h2>
      <p>Defined maturity levels accross business practices</p>
    </div>
    <div class="column">
      <i class="huge bullhorn icon"></i>
      <h2 class="header">Actionable</h2>
      <p>Clear pathways for improving maturity levels</p>
    </div>
    <div class="column">
      <i class="huge map signs icon"></i>
      <h2 class="header">Versatile</h2>
      <p>Technology, process, and organization agnostic</p>
    </div>
  </div>
</div>

<div class="ui hidden section divider"></div>
<div class="ui container">
  <div class="ui icon message">
  <i class="inbox icon"></i>
  <div class="content">
    <div class="header">
      Have you heard about our mailing list?
    </div>
    <p>Get SAMM project news in your e-mail. Subscribe <a href="https://eepurl.com/gl9fb9">here</a></p>
  </div>
</div>

<div class="ui hidden section divider"></div>

<div class="ui sponsors container">
  <h1 class="ui header">Our Sponsors</h1>
  <div class="ui hidden divider"></div>
  <div class="ui very relaxed stackable grid">
    <div class="ten wide column">
      <div class="ui three column middle aligned very relaxed centered stackable grid">
        {{ range $sponsor := .Site.Data.sponsors }}
        <div class="column">
          <a href="{{ $sponsor.url }}"><img class="ui fluid image" src="{{  $sponsor.img | relURL }}" /></a>
        </div>
        {{ end }}
        <div class="sixteen wide centered column">
          <div class="ui fluid center aligned container">
            <a class="ui small centered button" href="/sponsors/">See all sponsors...</a>
          </div>
        </div>
      </div>
    </div>
    <div class="six wide column">
      <h2 class="header">Support OWASP SAMM</h2>
      <p>Software powers the world, but insecure software threatens safety, trust, and economic growth.</p>
      <p>Your support powers SAMM and helps us achieve our mission. Email <a href="mailto:info@owaspsamm.org">info@owaspsamm.org</a> to become a supporter.</p>
      <a class="ui small button" href="/sponsors/"><i class="ui purple info icon"></i> Find out more about sponsorship</a>
    </div>
  </div>
</div>

</div>

<div class="ui hidden divider"></div>


{{ end }}
