<!--div class="container" id="cont1" fxLayout fxLayoutWrap fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="40px"
  fxLayoutGap.xs="0">


  <mat-card class="example-card " fxFlex="50%">

    <h1 class="title-card" data-aos="fade-in" data-aos-once="false" data-aos-duration="1000" data-aos-delay="100"
      style="color: white;">Securing <br>

      <strong>
        <mat-card-subtitle class="subtitle-card">Securing Organisation’s Information</mat-card-subtitle>
      </strong></h1>


    <mat-card-content class="content-card">
      <hr>

      <p data-aos="fade-in" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">
        SAMM 2.0 is built upon the core functionality of managing risks to the security of the information held by the
        organisation. </p>
    </mat-card-content>

  </mat-card>




  <mat-card class="example-card1" fxFlex="50%" data-aos="fade-in" data-aos-once="false" data-aos-delay="150">




    <img style='object-fit: contain' mat-card-image src="/assets/images/SAMMLandingPng.png" alt="dashboard">



  </mat-card>




</div><br><br><br><br><br><br>

<div class="container" id="cont2" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="80px"
  fxLayoutGap.xs="0">


  <mat-card class="example-card" fxFlex="50%">

    <h1 class="title-card" data-aos="fade-right" data-aos-once="false" data-aos-duration="1000" data-aos-delay="100"
      style="color: white;">OSF<br>

      <strong>
        <mat-card-subtitle class="subtitle-card">SAMM 2.0 International Standard for Organisation 2020
        </mat-card-subtitle>
      </strong></h1>
    <br><br>

    <mat-card-content class="content-card">
      <hr><br><br>
      <p data-aos="fade-right" data-aos-once="false" data-aos-delay="500" data-aos-duration="1000">
        With one-click, real-time, automated tool, we analyse the risks tailored to the information of the organization.
        These define a wide variety of activities in which an organization could engage to reduce security risks and
        increase security of organization’s data.</p>
    </mat-card-content>

  </mat-card>
  <mat-card class="example-card1 " fxFlex="50%" data-aos="fade-left" data-aos-once="false" data-aos-duariotn>



    <div class="circled circled--xl" data-aos="fade-in" data-aos-once="false" data-aos-duariotn>
      <img style="width:400px;border-radius:40px;" src="/assets/images/section-03.jpg" alt="" class="img-fluid">
    </div>



  </mat-card>

</div>
<br><br><br><br><br><br>
<div class="container" id="cont3" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="40px"
  fxLayoutGap.xs="0">


  <mat-card class="example-card" fxFlex="50%" style="padding-top:85px">

    <h1 class="title-card" data-aos="fade-right" data-aos-once="false" data-aos-duration="1000" data-aos-delay="500"
      style="color: white;">Cutting Edge<br>

      <strong>
        <mat-card-subtitle class="subtitle-card">Assessment Factors</mat-card-subtitle>
      </strong></h1>
    <br><br>

    <mat-card-content class="content-card">
      <hr><br><br><br><br>
      <p data-aos="fade-right" data-aos-once="false" data-aos-delay="500" data-aos-duration="1000">
        To help you stay ahead of the complex and challenging world of software development, we assess your software
        development lifecycle capabilities across 12 security practices, which are grouped into 34 business functions.
        Every security practice contains a set of activities, structured into 3 maturity levels and identify gaps that
        need to be addressed to reach the desired level of security and provide a roadmap with actionable insights to
        narrow down the security gaps. </p>
    </mat-card-content>

  </mat-card>


  <mat-card class="exampl-card" fxFlex="50%">

    <app-flip></app-flip>

  </mat-card>

</div-->
<div style="background-image: url('/assets/images/new_bg_png.png'); background-repeat:no-repeat;background-size:cover;margin-top:-233px">
  <div class="demo-carousel" [style.height]="parentHeight">
    <mat-carousel #matCarousel [timings]="timings" [autoplay]="autoplay" [interval]="interval" [loop]="loop"
      [hideArrows]="hideArrows" [hideIndicators]="hideIndicators" [color]="color" [maxWidth]="maxWidth"
      [proportion]="proportion" [useKeyboard]="useKeyboard" [useMouseWheel]="useMouseWheel" [orientation]="orientation"
      [slides]="slides" [maintainAspectRatio]="maintainAspectRatio" [slideHeight]="slideHeight"
      (change)="onChange($event)">
      <!--mat-carousel-slide
        #matCarouselSlide
        *ngFor="let slide of slidesList; let i = index" 
        image="./assets/images/SAMMLandingPng.png" 
        [overlayColor]="overlayColor"
        [hideOverlay]="hideOverlay"
      >
        <ng-container *ngIf="showContent">
          <div
            style="width: 100%; height: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center"
          >
            <h1>{{ i }}</h1>
            <p>disabled: {{ matCarouselSlide.disabled }}</p>
            <button
              mat-flat-button
              (click)="
                matCarouselSlide.disabled = !matCarouselSlide.disabled
              "
            >
              Click me!
            </button>
          </div>
        </ng-container>
      </mat-carousel-slide-->
  
      <mat-carousel-slide>
        <div class="container" id="cont1" fxLayout fxLayoutWrap fxLayout.xs="column" fxLayoutAlign="left"
          fxLayoutGap="40px" fxLayoutGap.xs="0">
  
  
          <mat-card class="example-card " fxFlex="50%">
  
            <h1 class="title-card" data-aos="fade-in" data-aos-once="false" data-aos-duration="1000" data-aos-delay="100"
              style="color: white;">What is OWASP SAMM?<br>
  
              <strong>
                <mat-card-subtitle class="subtitle-card">SAMM stands for Software Assurance Maturity Model.</mat-card-subtitle>
              </strong></h1>
  
  
            <mat-card-content class="content-card">
              <hr>
  
              <p data-aos="fade-in" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">
                Our mission is to provide an effective and measurable way for all types of organizations to analyze and improve 
                their software security posture. We want to raise awareness and educate organizations on how to design, develop, 
                and deploy secure software through our self-assessment model. SAMM supports the complete software lifecycle and 
                is technology and process agnostic. We built SAMM to be evolutive and risk-driven in nature, as there is no single 
                recipe that works for all organizations.</p>
            </mat-card-content>
  
          </mat-card>
  
          <mat-card class="example-card1" fxFlex="50%" data-aos="fade-in" data-aos-once="false" data-aos-delay="150">
  
            <!--img style='object-fit: contain' mat-card-image src="/assets/images/SAMMLandingPng.png" alt="dashboard"-->
  
          </mat-card>
        </div>
      </mat-carousel-slide>
  
  
  
  
  
  
  
      <mat-carousel-slide>
        <div class="container" style="margin-top:-5%" id="cont2" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="0px"
          fxLayoutGap.xs="0">
  
  
          <mat-card class="example-card" fxFlex="50%" >
  
            <h1 class="title-card" data-aos="fade-right" data-aos-once="false" data-aos-duration="1000"
              data-aos-delay="100" style="color: white;">The OWASP SAMM Model<br>
  
              <!--strong>
                <mat-card-subtitle class="subtitle-card">SAMM 2.0 International Standard for Organisation 2020
                </mat-card-subtitle>
              </strong--></h1>
  
  
              <mat-card-content class="content-card" style="font-size: 18px;">
                <hr>
    
                <p data-aos="fade-in" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">
                  SAMM is a prescriptive model, an open framework which is simple to use, fully defined, and measurable. The solution 
                  details are easy enough to follow even for non-security personnel. It helps organizations analyze their current software 
                  security practices, build a security program in defined iterations, show progressive improvements in secure practices, and 
                  define and measure security-related activities.<br><br>
                  SAMM was defined with flexibility in mind so that small, medium, and large organizations using any style of development can 
                  customize and adopt it. It provides a means of knowing where your organization is on its journey towards software assurance 
                  and understanding what is recommended to move to the next level of maturity.<br><br>
                  SAMM does not insist that all organizations achieve the maximum maturity level in every category. 
                  Each organization can determine the target maturity level for each Security Practice that is the best fit and adapt 
                  the available templates for their specific needs.</p>
              </mat-card-content>
            <br>
  
          </mat-card>
          <mat-card class="example-card1 " fxFlex="50%" data-aos="fade-left" data-aos-once="false" data-aos-duariotn>
  
  
  
            <!--div class="circled circled--xl" data-aos="fade-in" data-aos-once="false" data-aos-duariotn>
              <img style="width: 400px;border-radius: 40px;float: right;height:60%;" 
                src="/assets/images/section-03.jpg" alt="" class="img-fluid">
            </div-->
  
  
  
          </mat-card>
  
        </div>
      </mat-carousel-slide>
  
  
  
  
  
      <mat-carousel-slide>
        <div class="container" id="cont3" fxLayout fxLayout.xs="column" fxLayoutAlign="left" fxLayoutGap="40px"
          fxLayoutGap.xs="0">
  
  
          <mat-card class="example-card" fxFlex="50%">
  
            <h1 class="title-card" data-aos="fade-right" data-aos-once="false" data-aos-duration="1000"
              data-aos-delay="500" style="color: white;">OWASP SAMM structure<br>
  
              <strong>
                <mat-card-subtitle class="subtitle-card">Assessment Factors</mat-card-subtitle>
              </strong></h1>
  
  
              <mat-card-content class="content-card">
                <hr>
    
                <p data-aos="fade-in" data-aos-once="false" data-aos-delay="100" data-aos-duration="1000">
                  The structure and setup of the SAMM model support: <br><br>
                  <ul>
                    <li>The assessment of the organization’s current software security posture</li>
                    <li>The definition of the organization’s target</li>
                    <li>The definition of an implementation roadmap to get there</li>
                    <li>Prescriptive advice on how to implement particular activities</li>
                  </ul>
              </mat-card-content>
            <br>
  
          </mat-card>
  
  
          <mat-card class="exampl-card" fxFlex="50%">
  
            <!--app-flip></app-flip-->
  
          </mat-card>
  
        </div>
      </mat-carousel-slide>
  
  
    </mat-carousel>
  </div>
  
  </div>
  