<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.13/css/all.css'>




<br><br>
<h5 style="color:white;" class="text-center">	Operations								</h5>
<h6 style="color:white;" class="text-center">Operational Management</h6>
<div class="container-fluid">
  <div class='row'>
    <div class='col col-md-3 col-sm-6'>
      <div class="wrapper">
        <h6>Business Functions</h6>
          <div class="container">
            <div class="top"><GSM-fdt></GSM-fdt></div>
          </div>
          <div class="inside">
            <div class="icon"><i class="fas fa-info-circle"></i></div>
            <div class="contents">
                <table>
                    <tr>
                        <th>Strategy & Metrics
                        </th>
                        <td>{{strategy_rating}}</td>
                   </tr>
                   <tr>
                      <th>Education & Guidance		
                      </th>
                      <td>{{education_rating}}</td>
                 </tr>
                 <tr>
                    <th>Policy & Compliance		
                    </th>
                    <td>{{policy_rating}}</td>
               </tr>
                 <tr>
                  <th>Threat Assessment
                  </th>
                  <td>{{threat_rating}}</td>
             </tr>
             <tr>
                <th>Security Requirements
                </th>
                <td>{{security_rating}}</td>
           </tr>
  
           <tr>
              <th>Secure Architecture	
              </th>
              <td>{{secure_arch_rating}}</td>
         </tr>
         <tr>
            <th>Defect Management	
            </th>
            <td>{{defect_rating}}</td>
       </tr>
  
       <tr>
          <th>Secure Build
          </th>
          <td>{{secure_build_rating}}</td>
     </tr>
  
     <tr>
        <th>Secure Deployment
        </th>
        <td>{{secure_deploy_rating}}</td>
   </tr>
   <tr>
      <th>Architecture Assessment
      </th>
      <td>{{verify_arch_rating}}</td>
  </tr>
  
  <tr>
      <th>Requirements Driven Testing
      </th>
      <td>{{verify_requirement_rating}}</td>
  </tr>
  
  <tr>
      <th>Security Testing	
      </th>
      <td>{{verify_security_rating}}</td>
  </tr>
  <tr>
      <th>Environment Management	
      </th>
      <td>{{operate_environment_rating}}</td>
  </tr>
  
  <tr>
      <th>Incident Management
      </th>
      <td>{{operate_incident_rating}}</td>
  </tr>
  
  <tr>
      <th>Operational Management	
      </th>
      <td>{{operate_operational_rating}}</td>
  </tr>
  
  
  
                </table>
            </div>
          </div>
        </div>
   </div>

    <div class='col col-md-3 col-sm-6'>
        <div class="wrapper">
            <h6>Security Practices</h6>
            <div class="container">
              <div class="top"><OET-sg></OET-sg></div>
            </div>
            <div class="inside">
              <div class="icon"><i class="fas fa-info-circle"></i></div>
              <div class="contents">
                  <table>
                      <tr>
                        <th>Environment Management	
                        </th>
                        <td>{{operate_environment_rating}}</td>
                   </tr>
                   <tr>
                      <th>Incident Management
                      </th>
                      <td>{{operate_incident_rating}}</td>
                 </tr>
                 <tr>
                  <th>Operational Management
                  </th>
                  <td>{{operate_operational_rating}}</td>
             </tr>
                      
                    </table>
              </div>
            </div>
          </div>
    </div>



   <div class='col col-md-3 col-sm-6'>
      <div class="wrapper">
        <h6>Readiness Factor</h6>
          <div class="container">
            <div class="top"><OOPE-rlg></OOPE-rlg></div>
          </div>
          <div class="inside">
            <div class="icon"><i class="fas fa-info-circle"></i></div>
            <div class="contents">
              <table>
              <tr>
                <th>Implementation</th>
                </tr>
                <tr>
                <th>Data Protection level 1</th>
                <td>{{Data_Protection_l1}}</td>
                </tr>
                <tr>
                <th>Data Protection level 2</th>
                <td>{{Data_Protection_l2}}</td>
                </tr>
                <tr>
                <th>Data Protection level 3</th>
                <td>{{Data_Protection_l3}}</td>
                </tr>
                <tr>
                <th>System decommissioning Legacy management level 1</th>
                <td>{{System_decommissioningLegacy_management_l1}}</td>
                </tr>
                <tr>
                <th>System decommissioning Legacy management level 2</th>
                <td>{{System_decommissioningLegacy_management_l2}}</td>
                </tr>
                <tr>
                <th>System decommissioning Legacy management level 3</th>
                <td>{{System_decommissioningLegacy_management_l3}}</td>
              </tr>
              
              </table>
            </div>
          </div>
        </div>
    </div>

    <div class='col col-md-3 col-sm-6'>
      <div class="wrapper">
          <h6>Monthly Trends</h6>
          <div class="container">
            <div class="top"><OOPE-dova></OOPE-dova></div>
          </div>
          <div class="inside">
            <div class="icon"><i class="fas fa-info-circle"></i></div>
            <div class="contents">
              <table>
                <tr>
                    <th>{{month_pre}}</th>
                    <td>{{score_cur}}</td>

               </tr> 
               <tr>
                  <th>{{month_before_1}}</th>
                  <td>{{score_before_1}}</td>

             </tr> 
             <tr>
                <th>{{month_before_2}}</th>
                <td>{{score_before_1}}</td>

           </tr> 
            </table>
            </div>
          </div>
        </div> 
   </div>

  </div>
</div>

  <br>

  <div class='container-fluid'>
    <div class='row'>
      <div class='col-12'>
        <div class='wrapper' style='height:670px; transform: scale(1);background:rgba(211,211,211,0.1)'>
          <h6 style='margin:0px;'>COMPLIANCE - CHECKLIST</h6>
          <OOPE-table></OOPE-table>
        </div>
      </div>
    </div>
  </div>

  <br>




