<table class="table">
    <thead>
        <tr>
            <th align="left"><a href="governance">Governance</a></th>
            <th align="left"><a href="design">Design</a></th>
            <th align="left"><a href="implementation">Implementation</a></th>
            <th align="left"><a href="verification">Verification</a></th>
            <th align="left"><a href="operations">Operations</a></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td align="left"><a href="governance/strategy-and-metrics">Strategy and Metrics</a></td>
            <td align="left"><a href="design/threat-assessment">Threat Assessment</a></td>
            <td align="left"><a href="implementation/secure-build">Secure Build</a></td>
            <td align="left"><a href="verification/architecture-assessment">Architecture Assessment</a></td>
            <td align="left"><a href="operations/incident-management">Incident Management</a></td>
        </tr>
        <tr>
            <td align="left"><a href="governance/policy-and-compliance">Policy and Compliance</a></td>
            <td align="left"><a href="design/security-requirements">Security Requirements</a></td>
            <td align="left"><a href="implementation/secure-deployment">Secure Deployment</a></td>
            <td align="left"><a href="verification/requirements-driven-testing">Requirements-driven Testing</a></td>
            <td align="left"><a href="operations/environment-management">Environment Management</a></td>
        </tr>
        <tr>
            <td align="left"><a href="governance/education-and-guidance">Education and Guidance</a></td>
            <td align="left"><a href="design/security-architecture">Security Architecture</a></td>
            <td align="left"><a href="implementation/defect-management">Defect Management</a></td>
            <td align="left"><a href="verification/security-testing">Security Testing</a></td>
            <td align="left"><a href="operations/operational-management">Operational Management</a></td>
        </tr>
    </tbody>
</table>
