<div class="samm-features">
    <div class="col-md-12">
        <div>
            <div class="col-md-4">
                <div class="box-features">
                    <div class="icon">
                        <i class="fas fa-ruler"></i>
                    </div>
                    <h3>Measurable</h3>
                    <p>Defined maturity levels across security practices</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-features">
                    <div class="icon">
                            <i class="fas fa-bullhorn"></i>
                    </div>
                    <h3>Actionable</h3>
                    <p>Clear pathways for improving maturity levels</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box-features">
                    <div class="icon">
                        <i class="fas fa-map-signs"></i>
                    </div>
                    <h3>Versatile</h3>
                    <p>Technology, process, and organization agnostic</p>
                </div>
            </div>
        </div>
    </div>
</div>
