<table class="table samm-table-narrow">
    <tbody>
        <tr>
            <td class="samm-title-row">Sponsorship level</td>
            <td class="samm-title-row-centered">Supporter</td>
            <td class="samm-title-row-centered">Ambassador</td>
            <td class="samm-title-row-centered">Leader</td>
        </tr>
        <tr>
            <td class="samm-title-row">Price (in USD)</td>
            <td class="samm-row-centered-bold">1000</td>
            <td class="samm-row-centered-bold">2500</td>
            <td class="samm-row-centered-bold">5000</td>
        </tr>
    </tbody>
</table>
