<table class="table samm-table-narrow">
    <tbody>
        <tr>
            <td class="samm-row-bold">Website benefit: listing on</td>
            <td class="samm-title-row-centered">Supporter</td>
            <td class="samm-title-row-centered">Ambassador</td>
            <td class="samm-title-row-centered">Leader</td>
        </tr>
        <tr>
                <td class="samm-title-row">owaspsamm.org home page with logo</td>
            <td></td>
            <td></td>
            <td class="samm-row-centered-bold">X</td>
        </tr>
        <tr>
                <td class="samm-title-row">owaspsamm.org sponsors page with logo</td>
            <td></td>
            <td class="samm-row-centered-bold">X</td>
            <td class="samm-row-centered-bold">X</td>
        </tr>
        <tr>
            <td class="samm-title-row">OWASP website - SAMM sponsors tab with logo</td>
            <td></td>
            <td class="samm-row-centered-bold">X</td>
            <td class="samm-row-centered-bold">X</td>
        </tr>
        <tr>
            <td class="samm-title-row">OWASP website - SAMM sponsors tab with name</td>
            <td class="samm-row-centered-bold">X</td>
            <td class="samm-row-centered-bold">X</td>
            <td class="samm-row-centered-bold">X</td>
        </tr>
        <tr>
                <td class="samm-title-row">OWASP SAMM GitHub page with logo</td>
            <td class="samm-row-centered-bold">X</td>
            <td class="samm-row-centered-bold">X</td>
            <td class="samm-row-centered-bold">X</td>
        </tr>
    </tbody>
</table>
