<table class="table samm-table">
    <tbody>
        <tr>
            <td class="samm-heading-row">Time (UTC)</td>
            <td class="samm-heading-row">Type</td>
            <td class="samm-heading-row">Title</td>
            <td class="samm-heading-row">Speaker</td>
        </tr>
        <tr>
            <td class="samm-title-row">12.00</td>
            <td class="samm-row">Talk</td>
            <td class="samm-title-row"><a href="samm-update">OWASP SAMM Update</a></td>
            <td class="samm-row">Bart De Win and Sebastien Deleersnyder</td>
        </tr>
        <tr>
            <td class="samm-title-row">12.30</td>
            <td class="samm-row">Talk</td>
            <td class="samm-title-row"><a href="sins-of-samm">The Seven Deadly Sins of SAMM</td>
            <td class="samm-row">John Wood</td>
        </tr>
        <tr>
            <td class="samm-title-row">13.00</td>
            <td class="samm-row">Roundtable</td>
            <td class="samm-title-row"><a href="agile-guidance">Agile Guidance for SAMM</a></td>
            <td class="samm-row">Rob van der Veer</td>
        </tr>
        <tr>
            <td class="samm-title-row">14.00</td>
            <td class="samm-row">Talk</td>
            <td class="samm-title-row"><a href="samm-dashboard">SAMM 2.0 Dashboard</a></td>
            <td class="samm-row">SathIsh AshwIn</td>
        </tr>
        <tr>
            <td class="samm-title-row">14.30</td>
            <td class="samm-break-row" colspan="3">Break</td>
        </tr>
        <tr>
            <td class="samm-title-row">14.45</td>
            <td class="samm-row">Talk</td>
            <td class="samm-title-row"><a href="owasp-categories-for-security-champions">OWASP Top 10 Maturity Categories for Security Champions</a></td>
            <td class="samm-row">Lucian Corlan</td>
        </tr>
        <tr>
            <td class="samm-title-row">15.15</td>
            <td class="samm-row">Talk</td>
            <td class="samm-title-row"><a href="samm-to-kickstart-the-tssdlc">Using OWASP SAMM to kickstart the SSDLC - Lessons learned from real-world projects</a></td>
            <td class="samm-row">Thomas Kerbl</td>
        </tr>
        <tr>
            <td class="samm-title-row">15.45</td>
            <td class="samm-row">Talk</td>
            <td class="samm-title-row"><a href="samm-tools-of-the-trade">OWASP SAMM: Tools of the Trade</a></td>
            <td class="samm-row">John Ellingsworth</td>
        </tr>
        <tr>
            <td class="samm-title-row">16.15</td>
            <td class="samm-break-row" colspan="3">Break</td>
        </tr>
        <tr>
            <td class="samm-title-row">16.30</td>
            <td class="samm-row">Talk</td>
            <td class="samm-title-row"><a href="lean-security-in-devsecops">Lean security: a framework for activities and design factors in DevSecOps</a></td>
            <td class="samm-row">Dennis Verslegers</td>
        </tr>
        <tr>
            <td class="samm-title-row">17.00</td>
            <td class="samm-row">Talk</td>
            <td class="samm-title-row"><a href="open-control-frameworks-in-media-and-entertainment">Open control frameworks in Media and Entertainment</a></td>
            <td class="samm-row">Ben Schofield</td>
        </tr>
        <tr>
            <td class="samm-title-row">17.30</td>
            <td class="samm-row">Talk</td>
            <td class="samm-title-row"><a href="integrating-samm-into-consulting-assessments">Integrating SAMM v2 into Consulting Assessments</a></td>
            <td class="samm-row">Tony Cargile</td>
        </tr>
        <tr>
            <td class="samm-title-row">18.00</td>
            <td class="samm-row">Workshop</td>
            <td class="samm-title-row"><a href="samm-benchmark">SAMM benchmark - design and user stories</a></td>
            <td class="samm-row">Brian Glas</td>
        </tr>
        <tr>
            <td class="samm-title-row">19.00</td>
            <td class="samm-break-row" colspan="3">Break</td>
        </tr>
        <tr>
            <td class="samm-title-row">19.15</td>
            <td class="samm-row">Talk</td>
            <td class="samm-title-row"><a href="contributing-to-samm">Contributing to SAMM</a></td>
            <td class="samm-row">Patricia Duarte</td>
        </tr>
        <tr>
            <td class="samm-title-row">19.45</td>
            <td class="samm-row">Talk</td>
            <td class="samm-title-row"><a href="user-day-wrap-up">Wrapping up our first SAMM User Day</a></td>
            <td class="samm-row">Bart De Win</td>
        </tr>
    </tbody>
</table>
