<table class="table samm-table">
    <tbody>
        <tr>
            <td class="samm-heading-row">Time</td>
            <td class="samm-heading-row">Type</td>
            <td class="samm-heading-row">Title</td>
            <td class="samm-heading-row">Speaker</td>
        </tr>
        <tr>
            <td class="samm-title-row">12.00</td>
            <td class="samm-row">Talk</td>
            <td class="samm-title-row">OWASP SAMM Update</td>
            <td class="samm-row">Bart De Win and Sebastien Deleersnyder</td>
        </tr>
        <tr>
            <td class="samm-title-row">12.30</td>
            <td class="samm-row">Talk</td>
            <td class="samm-title-row">The Seven Deadly Sins of SAMM</td>
            <td class="samm-row">John Wood</td>
        </tr>
        <tr>
            <td class="samm-title-row">13.00</td>
            <td class="samm-row">Roundtable</td>
            <td class="samm-title-row">Agile Guidance for SAMM</td>
            <td class="samm-row">Rob van der Veer</td>
        </tr>
        <tr>
            <td class="samm-title-row">14.00</td>
            <td class="samm-row">Talk</td>
            <td class="samm-title-row">SAMM 2.0 Dashboard</td>
            <td class="samm-row">SathIsh AshwIn</td>
        </tr>
        <tr>
            <td class="samm-title-row">14.30</td>
            <td class="samm-break-row" colspan="3">Break</td>
        </tr>
        <tr>
            <td class="samm-title-row">14.45</td>
            <td class="samm-row">Talk</td>
            <td class="samm-title-row">OWASP Top 10 Maturity Categories for Security Champions</td>
            <td class="samm-row">Lucian Corlan</td>
        </tr>
        <tr>
            <td class="samm-title-row">15.15</td>
            <td class="samm-row">Talk</td>
            <td class="samm-title-row">Using OWASP SAMM to kickstart the SSDLC - Lessons learned from real-world projects</td>
            <td class="samm-row">Thomas Kerbl</td>
        </tr>
        <tr>
            <td class="samm-title-row">15.45</td>
            <td class="samm-row">Talk</td>
            <td class="samm-title-row">OWASP SAMM: Tools of the Trade</td>
            <td class="samm-row">John Ellingsworth</td>
        </tr>
        <tr>
            <td class="samm-title-row">16.15</td>
            <td class="samm-break-row" colspan="3">Break</td>
        </tr>
        <tr>
            <td class="samm-title-row">16.30</td>
            <td class="samm-row">Talk</td>
            <td class="samm-title-row">Lean security: a framework for activities and design factors in DevSecOps</td>
            <td class="samm-row">Dennis Verslegers</td>
        </tr>
        <tr>
            <td class="samm-title-row">17.00</td>
            <td class="samm-row">Talk</td>
            <td class="samm-title-row">Open control frameworks in Media and Entertainment</td>
            <td class="samm-row">Ben Schofield</td>
        </tr>
        <tr>
            <td class="samm-title-row">17.30</td>
            <td class="samm-row">Talk</td>
            <td class="samm-title-row">Integrating SAMM v2 into Consulting Assessments</td>
            <td class="samm-row">Tony Cargile</td>
        </tr>
        <tr>
            <td class="samm-title-row">18.00</td>
            <td class="samm-row">Workshop</td>
            <td class="samm-title-row">SAMM benchmark - design and user stories</td>
            <td class="samm-row">Brian Glas</td>
        </tr>
        <tr>
            <td class="samm-title-row">19.00</td>
            <td class="samm-break-row" colspan="3">Break</td>
        </tr>
        <tr>
            <td class="samm-title-row">19.15</td>
            <td class="samm-row">Talk</td>
            <td class="samm-title-row">Contributing to SAMM</td>
            <td class="samm-row">Patricia Duarte</td>
        </tr>
        <tr>
            <td class="samm-title-row">19.45</td>
            <td class="samm-row">Talk</td>
            <td class="samm-title-row">Wrapping up our first SAMM User Day</td>
            <td class="samm-row">Bart De Win</td>
        </tr>
    </tbody>
</table>
