<div class="footerback">
  <div class="ui hidden divider"></div>
  <div class="ui container footer">
</div>


  <div class="ui hidden divider"></div>
  <footer class="ui container footer">
    <div class="ui stackable grid">
      <div class="ui three wide column center aligned">
        <i class="huge inbox icon"></i>
      </div>
      <div class="ui thirteen wide column">
        <div class="content">
          <h3 class="ui header">Get SAMM project news in your e-mail. Subscribe <a href="https://eepurl.com/gl9fb9">here</a></h3>
        </div>
      </div>
    </div>
    <div class="ui stackable grid">
      <div class="ui three wide column">
        <a href="https://www.owasp.org/"><img class="ui fluid image" src="{{ "img/owasp.svg"  | relURL }}" /></a>
      </div>
      <div class="ui thirteen wide column">
        <h3 class="ui header">This is an OWASP Project</h3>
        <p>OWASP is an international organization and the OWASP Foundation supports OWASP efforts around the world. OWASP is an open community dedicated to enabling organizations to conceive, develop, acquire, operate, and maintain applications that can be trusted. All of the OWASP tools, documents, forums, and chapters are free and open to anyone interested in improving application security. We advocate approaching application security as a people, process, and technology problem because the most effective approaches to application security include improvements in all of these areas. We can be found at <a href="https://www.owasp.org/">https://www.owasp.org/</a>.</p>
      </div>
    </div>
    <div class="ui stackable grid">
      <div class="ui three wide column">
        <a href="https://creativecommons.org/licenses/by-sa/4.0/"><img class="ui fluid image" src="{{ "img/by-sa.png"  | relURL }}" /></a>
      </div>
      <div class="ui thirteen wide column">
        <h3 class="ui header">CC BY-SA 4.0</h3>
        <p>This work is licensed under the Creative Commons Attribution-Share Alike 4.0 License. To view a copy of this license, visit <a href="https://creativecommons.org/licenses/by-sa/4.0/">https://creativecommons.org/licenses/by-sa/4.0/</a>.</p>
      </div>
    </div>
  </footer>
</div>

<script src="{{ "js/semantic.min.js"  | relURL }}" data-no-instant></script>
<script src="{{ "js/jquery.peity.min.js"  | relURL }}" data-no-instant></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('.donut').peity('donut');
    $('.ui.accordion').accordion();
  });
</script>
