/*
#main_container {
  margin:0px auto;
  width:600px;
  height:600px;
  padding-top:0px;
  border-radius:6px;
  overflow: hidden;
}

div.container {
  left:0px;
  right:0px;
  position:absolute;
  top:50px;
}
*/
/*
#chartdiv_rtc{
  animation: spin 100s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotateZ(0);
	}
	100% {
		transform: rotateZ(360deg);
	}
}
*/


