{{ partial "header.html" . }}

<header class="ui container">
  <h1 class="ui header">
    <div class="content">
      OWASP SAMM
      <div class="sub header">Software Assurance Maturity Model</div>
    </div>
  </h1>
</header>
<main class="ui container">

<h1 class="ui huge dividing header">
  {{ .Title }}
</h1>

<div class="ui buttons">
  <a href="{{ "/" | relURL }}" class="ui green button"><i class="hand point left icon"></i> Back</button>
  <a href="{{ $.Site.Params.ghrepo }}edit/master/{{ $.Site.Params.ghcontent }}{{.File.Path}}" class="ui blue button"><i class="pencil icon"></i> Edit this page</a>
  <a href="{{ $.Site.Params.ghraw }}master/{{ $.Site.Params.ghcontent }}{{.File.Path}}" target="_blank" class="ui red button"><i class="file code icon"></i> Raw</a>
</div>

<div class="ui hidden divider"></div>

<div class="ui large labels">
  <div class="ui green label">
    Business function
    <div class="detail">{{ $.Param "business_functions" }}</div>
  </div>
  <div class="ui orange label">
    Assigned to
    <div class="detail">{{ .Params.assignedto }}</div>
  </div>
  {{ if isset .Params "complete" }}
  <div class="ui label">
    Progress
    <div class="detail"><span class="donut">{{ ( .Params.complete | strings.TrimRight "%" ) }}/100</span> {{ ( .Params.complete | strings.TrimRight "%" ) }}%</div>
  </div>
  {{ end }}
</div>

{{ .Content }}

{{ partial "footer.html" . }}
