<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css"-->

<section data-aos="fade-left" data-aos-once="false" data-aos-duration="1000" data-aos-delay="500">
    <div class="rt-container" style="text-align:center;">
        <div class="card-container">
            <div class="card">
                <div class="front"> <span><mat-icon>card_membership</mat-icon></span>
                        <circle-progress 
                        [percent]="70"
                        [title]= "'Information'"
                        [subtitle]="'Security'"
                        ></circle-progress>
                </div>
                <div class="back">
                        <circle-progress 
                        [percent]="70"
                        [titleFontSize]="15"
                        [showUnits]=true 
                        [showSubtitle]=false
                        ></circle-progress>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <div class="front"><span><mat-icon>vpn_lock</mat-icon></span>
                        <circle-progress 
                        [percent]="30"
                        [title]="'Organization'"
                        [subtitle]="'Info Security'"
                        ></circle-progress>
                </div>
                <div class="back">
                        <circle-progress 
                        [percent]="30"
                        [titleFontSize]="15"
                        [showUnits]=true 
                        [showSubtitle]=false
                        ></circle-progress>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <div class="front"><span><svg role="" class="ickon icon-technology"><use xlink:href="/assets/icons/icons.svg#icon-people"></use></svg></span>
                        <circle-progress 
                        [percent]="60"
                        [title]="'HR'"
                        [subtitle]="'Security'"
                        ></circle-progress>
                </div>
                <div class="back">
                        <circle-progress 
                        [percent]="60"
                        [titleFontSize]="15"
                        [showUnits]=true 
                        [showSubtitle]=false
                        ></circle-progress>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <div class="front"><span><svg role="" class="ickon icon-technology"><use xlink:href="/assets/icons/icons.svg#icon-safe"></use></svg></span>
                        <circle-progress 
                        [percent]="40"
                        [title]="'Asset'"
                        [subtitle]="'Management'"
                        ></circle-progress>
                </div>
                <div class="back">
                        <circle-progress 
                        [percent]="40"
                        [titleFontSize]="15"
                        [showUnits]=true 
                        [showSubtitle]=false
                        ></circle-progress>
                </div>
            </div>
        </div>
    </div>
</section>

<section data-aos="fade-left" data-aos-once="false" data-aos-duration="1000" data-aos-delay="500">
    <div class="rt-container" style="text-align:center;">
        <div class="card-container">
            <div class="card">
                <div class="front"><span><svg role="" class="ickon icon-technology"><use xlink:href="/assets/icons/icons.svg#icon-technology"></use></svg></span>
                        <circle-progress 
                        [percent]="90"
                        [title]="'Access'"
                        [subtitle]="'Control'"
                        ></circle-progress>
                </div>
                <div class="back">
                        <circle-progress 
                        [percent]="90"
                        [titleFontSize]="15"
                        [showUnits]=true 
                        [showSubtitle]=false
                        ></circle-progress>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <div class="front"><span><svg role="" class="ickon icon-technology"><use xlink:href="/assets/icons/icons.svg#icon-secure"></use></svg></span>
                        <circle-progress 
                        [percent]="60"
                        [title]="'Cryptography'"
                        [showSubtitle]=false
                        ></circle-progress>
                </div>
                <div class="back">
                        <circle-progress 
                        [percent]="60"
                        [titleFontSize]="15"
                        [showUnits]=true 
                        [showSubtitle]=false
                        ></circle-progress>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <div class="front"><span><svg role="" class="ickon icon-technology"><use xlink:href="/assets/icons/icons.svg#icon-bulb"></use></svg></span>
                        <circle-progress 
                        [percent]="25"
                        [title]="'Physical & Env.'"
                        [subtitle]="'Security'"
                        ></circle-progress>
                </div>
                <div class="back">
                        <circle-progress 
                        [percent]="25"
                        [titleFontSize]="15"
                        [showUnits]=true 
                        [showSubtitle]=false
                        ></circle-progress>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <div class="front"><span><mat-icon>settings_input_antenna</mat-icon></span>
                        <circle-progress 
                        [percent]="30"
                        [title]="'Operations'"
                        [subtitle]="'Security'"
                        ></circle-progress>
                </div>
                <div class="back">
                        <circle-progress 
                        [percent]="30"
                        [titleFontSize]="15"
                        [showUnits]=true 
                        [showSubtitle]=false
                        ></circle-progress>
                </div>
            </div>
        </div>
    </div>
</section>


<section data-aos="fade-left" data-aos-once="false" data-aos-duration="1000" data-aos-delay="500">
    <div class="rt-container" style="text-align:center;">
        <div class="card-container">
            <div class="card">
                <div class="front"><span><mat-icon>phonelink_lock</mat-icon></span>
                        <circle-progress 
                        [percent]="60"
                        [title]="'Communication'"
                        [subtitle]="'Security'"
                        ></circle-progress>
                </div>
                <div class="back">
                        <circle-progress 
                        [percent]="60"
                        [titleFontSize]="15"
                        [showUnits]=true 
                        [showSubtitle]=false
                        ></circle-progress>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <div class="front"><span><mat-icon>sync_problem</mat-icon></span>
                        <circle-progress 
                        [percent]="20"
                        [subtitleFontSize]="7"
                        [title]="'System'"
                        [subtitle]="'Acquisition Develop'"
                        ></circle-progress>
                </div>
                <div class="back">
                        <circle-progress 
                        [percent]="20"
                        [titleFontSize]="15"
                        [showUnits]=true 
                        [showSubtitle]=false
                        ></circle-progress>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <div class="front"><span><mat-icon>business_center</mat-icon></span>
                        <circle-progress 
                        [percent]="90"
                        [title]="'Supplier'"
                        [subtitle]="'Relation'"
                        ></circle-progress>
                </div>
                <div class="back">
                        <circle-progress 
                        [percent]="90"
                        [titleFontSize]="15"
                        [showUnits]=true 
                        [showSubtitle]=false
                        ></circle-progress>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <div class="front"><span><mat-icon>brightness_high</mat-icon></span>
                        <circle-progress 
                        [percent]="50"
                        [title]="'Info Security'"
                        [subtitle]="'Incident Manage'"
                        ></circle-progress>
                </div>
                <div class="back">
                        <circle-progress 
                        [percent]="50"
                        [titleFontSize]="15"
                        [showUnits]=true 
                        [showSubtitle]=false
                        ></circle-progress>
                </div>
            </div>
        </div>
    </div>
</section>


<section data-aos="fade-left" data-aos-once="false" data-aos-duration="1000" data-aos-delay="500">
    <div class="rt-container" style="text-align:center;">
        <div class="card-container">
            <div class="card">
                <div class="front"><span><mat-icon>track_changes</mat-icon></span>
                        <circle-progress 
                        [percent]="100"
                        [title]="'Business'"
                        [subtitleFontSize]="7"
                        [subtitle]="'Continuity Manage'"
                        ></circle-progress>
                </div>
                <div class="back">
                        <circle-progress 
                        [percent]="100"
                        [titleFontSize]="15"
                        [showUnits]=true 
                        [showSubtitle]=false
                        ></circle-progress>
                </div>
            </div>
        </div>
        <div class="card-container">
            <div class="card">
                <div class="front"><span><mat-icon>my_library_books</mat-icon></span>
                        <circle-progress 
                        [percent]="60"
                        [title]="'Compliance'"
                        ></circle-progress>
                </div>
                <div class="back">
                        <circle-progress 
                        [percent]="60"
                        [titleFontSize]="15"
                        [showUnits]=true 
                        [showSubtitle]=false
                        ></circle-progress>
                </div>
            </div>
        </div>
    </div>
</section>