---
title: Verification
url: /model/verification/
description: Verification business function

practice_1: Architecture Assessment
practice_1_url: architecture-assessment
practice_2: Requirements-driven Testing
practice_2_url: requirements-driven-testing
practice_3: Security Testing
practice_3_url: security-testing

keywords: ["Business function"]
---

Verification is focused on the processes and activities related to how an organization checks, and tests artifacts produced throughout software development. This typically includes quality assurance work such as testing, but it can also include other review and evaluation activities.

