
/*.example-container {
  height: 500px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.example-sidenav-content {
  display: flex;
	height: 100%;
	
  align-items: center;
  justify-content: center;
}*/

mat-sidenav{
	position: fixed;
  width: 35%;
  
}
.full-width {
	width: 100%;
	margin-right: 50px;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
	padding-left: 30px;;
	display:none;
	
}
.submenu1 {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
	padding-left: 30px;
	display:none;
}
.submenu.expanded {
	transform: scaleY(1);
	
	
}
.submenu1.expanded {
  transform: scaleY(1);
}
.submenu2 {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
	padding-left: 30px;
	display:none;
}
.submenu2.expanded {
  transform: scaleY(1);
}
.submenu3 {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
	padding-left: 30px;
	display:none;
}
.submenu3.expanded {
  transform: scaleY(1);
}
.submenu4 {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
	padding-left: 30px;
	display:none;
}
.submenu4.expanded {
  transform: scaleY(1);
}
.submenu5 {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
	padding-left: 30px;
	display:none;
}
.submenu5.expanded {
  transform: scaleY(1);
}
.submenu6 {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
	padding-left: 30px;
	display:none;
}
.submenu6.expanded {
  transform: scaleY(1);
}
.submenu7 {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
	padding-left: 30px;
	display:none;
}
.submenu7.expanded {
  transform: scaleY(1);
}
.submenu8 {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
	padding-left: 30px;
	display:none;
}
.submenu8.expanded {
  transform: scaleY(1);
}
.submenu9 {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
	padding-left: 30px;
	display:none;
}
.submenu9.expanded {
  transform: scaleY(1);
}
.submenu10 {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
	padding-left: 30px;
	display:none;
}
.submenu10.expanded {
  transform: scaleY(1);
}
.submenu11 {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
	padding-left: 30px;
	display:none;
}
.submenu11.expanded {
  transform: scaleY(1);
}
.submenu12 {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
	padding-left: 30px;
	display:none;
}
.submenu12.expanded {
  transform: scaleY(1);
}
.submenu13 {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
	padding-left: 30px;
	display:none;
}
.submenu13.expanded {
  transform: scaleY(1);
}



svg{
  width: 3em;
	height: 3em;
	
  
}
.icn{
	width: 2em;
	height: 2em;

}




.example-container{
	background-color:#e9edf7;

}


.mat-icon {
	font-size: 30px;
	}
	font{
		color: #274b6a;
	}
	




	html{
	
		font-family: 'Roboto', sans-serif;
	}

	 .mat-sidenav-transition .mat-sidenav-backdrop.mat-sidenav-shown {
		background: white;
	 }
	



