<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        {{ partial "breadcrumbs.html" . }}

        <div id="content">

            <div class="container">

                <div class="row">

                    <div class="col-md-12 samm-page-content">
                        {{ $practicepagename := (replace .Params.practice "&" "and")  }}
                        <h3>
                            <a href="/model/">Model</a> | <a href="/model/{{ .Params.business_function_url }}">{{ .Params.business_function }}</a> | <a href="/model/{{ .Params.business_function | urlize }}/{{ $practicepagename | urlize }}">{{ .Params.practice }}</a> | {{ .Params.title }}
                        </h3>

                        {{ partial "tabs.html" . }}

                        <div>
                          {{ .Content }}
                        </div>
    
                    </div>

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
