<section class="bar background-sud no-mb">
        <div class="container">
          <div class="row">
              <div class="col-md-12">
                  <div class="heading text-center">
                      <h2>Save the date</h2>
                  </div>
              </div>
          </div>
          <div class="row">
            <p class="lead text-center">
                The first SAMM User Day of this year is coming!
            </p>
            <p class="highlight text-center">
                May 27th, 2021
            </p>
          </div>
          <div class="row">
              <div class="col-md-12">
                  <p class="text-center">
                    <a href="/user-day/" class="btn btn-template-transparent-main btn-lg" style="margin-left:10px;">Learn more</a>
                  </p>
                  
              </div>
          </div>
      
        </div>
      </section>