<section class="bar background-gray no-mb">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading text-center">
                <h2>SAMM User Day - June 16th</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <img src="img/pages/undraw_workspace_hwky_female_small.png" style="float:left"/>
        </div>
        <div class="col-md-6">
            <p class="lead text-center">
              Our first OWASP SAMM User Day online.
              </br>
              We'll share our experiences using OWASP SAMM to improve secure development practices.
            </p>
        </div>
        <div class="col-md-3">
            <img src="img/pages/undraw_workspace_hwky_small.png" style="float:right"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">
              <a href="/user-day/" class="btn btn-template-transparent-main btn-lg">Learn more</a>
            </p>
            
        </div>
    </div>

  </div>
</section>