<section class="bar background-gray no-mb">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading text-center">
                <h2>SAMM User Day</h2>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="flex-banner-container">
            <img src="img/pages/undraw_fireworks_small.png" class="img-left"/>
            <p class="lead text-center">
                Thank you for being part of our first OWASP SAMM User Day!
                </br>
                </br>
                Please, take a minute to give us your feedback.
            </p>
            <img src="img/pages/undraw_fireworks_small.png" class="img-right"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">
              <a href="https://www.surveymonkey.com/r/3NFB35T"  style="margin-right:10px;" target="_blank" class="btn btn-template-transparent-main btn-lg">Give feedback</a>
              <a href="/user-day/" class="btn btn-template-transparent-main btn-lg" style="margin-left:10px;">Learn more</a>
            </p>
            
        </div>
    </div>

  </div>
</section>