<section class="bar background-gray no-mb">
  <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="heading text-center">
                <h2>SAMM V2 is here!</h2>
            </div>

            <p class="lead text-center">
              This release is a big one for the project team.
              </br>
              We're proud to finally share it and extremely grateful to the SAMM community.
            </p>
            
            <p class="text-center">
              <a href="/blog/2020/01/31/samm2-release/" class="btn btn-template-transparent-main btn-lg">Read our latest blog post</a>
            </p>
        </div>
    </div>
  </div>
</section>